@tailwind base;
@tailwind components;
@tailwind utilities;
pre{
    border-radius: 8px;
    background-color: #2f3640 !important;
    color: rgb(183, 255, 255) !important;
    scroll-padding-top: 20px;
    overflow-x: scroll;
    padding: 15px;
    margin-bottom: 15px;
  }